<?= $this->doctype() ?>
<html lang="de">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <?= $this->headMeta()
            ->appendName('viewport', 'width=device-width, initial-scale=1.0, shrink-to-fit=no')
            ->appendName('author', 'Henrik Thesing')
            ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
        ?>
        <?= $this->headLink()
            ->prependStylesheet($this->basePath('css/all.css'))
            ->prependStylesheet($this->basePath('css/bootstrap.css'))
            ->prependStylesheet($this->basePath('css/ese.css'));
        ?>

        <?= $this->headTitle('Einrichtungssuche Essen - Administration')->setSeparator(' - ')->setAutoEscape(false) ?>
    </head>
    <body>
        <header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar">
            <a class="navbar-brand mr-0 mr-md-2" href="/" aria-label="Bahnhofsmission Essen"><img height="50" src="<?= $this->basePath('img/logo.png'); ?>" /></a>
            <div class="navbar-nav ml-md-auto">
                <a class="btn btn-info" href="<?= $this->url('administration'); ?>">Administration</a>&nbsp;
                <a class="btn btn-primary" href="<?= $this->url('search'); ?>">Webseite</a>
            </div>
        </header>

        <br />
        <div class="container">
            <div class="row">
                <div class="offset-4 col-4">
                    <!-- Logo -->
                    <div class="logo text-center">
                        <h1><a href="<?php $this->url('administration/login'); ?>"><img style="width: 200px;" src="<?= $this->basePath('img/logo.png'); ?>" /></a></h1>
                        <h3>Einrichtungssuche</h3>
                    </div>
                </div>
            </div>
        </div>
        <br />

        <div class="container">
            <div class="row">
                <div class="offset-4 col-4">
                    <div class="login-wrapper">
                        <div class="box">
                            <form id="form" action="" method="post" enctype="multipart/form-data">
                                <div class="content-wrap">
                                    <?php if ($isLoginError) { ?>
                                        <div class="alert alert-danger" role="alert">
                                            Unbekannter Benutzer oder Passwort falsch
                                        </div>
                                    <?php } ?>
                                    <input class="form-control" type="text" placeholder="E-Mail Adresse" name="mailaddress"><br />
                                    <input class="form-control" type="password" placeholder="Passwort" name="password">
                                    <br />
                                    <div class="action">
                                        <input type="submit" class="btn btn-primary signup" id="submitFormBtn" value="Anmelden" />
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>