<?php
    /** @var Facility $facility */
    use Storage\Entity\Facility;
?>
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3">
        <h1 class="h2"><span class="text-primary">Neue(r)</span> Ansprechpartner/in für <span class="text-primary"><?= $facility->getName(); ?></span> anlegen</h1>
    </div>

    <form method="post" action="" enctype="multipart/form-data">
        <div class="form-group row">
            <label for="inputFirstname" class="col-sm-2 col-form-label">Vorname*</label>
            <div class="col-sm-10">
                <input type="text" required="required" name="data[firstname]" value="" class="form-control" id="inputFirstname" placeholder="Vorname">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputLastname" class="col-sm-2 col-form-label">Nachname*</label>
            <div class="col-sm-10">
                <input type="text" required="required" name="data[lastname]" value="" class="form-control" id="inputLastname" placeholder="Nachname">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputPosition" class="col-sm-2 col-form-label">Position*</label>
            <div class="col-sm-10">
                <input type="text" required="required" name="data[position]" value="" class="form-control" id="inputPosition" placeholder="Position">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputPhone" class="col-2 col-form-label">Telefon / Mobil / Fax</label>
            <div class="col-4">
                <input type="text" name="data[phone]" value="" class="form-control" id="inputPhone" placeholder="Telefonnummer">
            </div>
            <div class="col-4">
                <input type="text" name="data[mobile]" value="" class="form-control" id="inputMobile" placeholder="Mobilfunknummer">
            </div>
            <div class="col-2">
                <input type="text" name="data[fax]" value="" class="form-control" id="inputFax" placeholder="Faxnummer">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputEmail" class="col-sm-2 col-form-label">E-Mail</label>
            <div class="col-sm-10">
                <input type="text" name="data[email]" value="" class="form-control" id="inputEmail" placeholder="E-Mail-Adresse">
            </div>
        </div>
        <div>
            <input type="submit" value="Änderungen speichern" class="btn btn-primary" />
            <a href="<?= $this->url('administration/facilities/contacts', ['facilityId' => $facility->getId()]); ?>" class="btn btn-outline-danger">Abbrechen</a>
        </div>
    </form>
</main>