<?php
    /** @var Facility $facility */
    /** @var TagGroup[] $tagGroups */

    use Application\Model\OpeningTimes\OpeningTimesCollection;
    use Common\Helper\DayOfWeekHelper;
    use Storage\Entity\Facility;
    use Storage\Entity\TagGroup;
?>
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3">
        <h1 class="h2">Einrichtung <span class="text-primary"><?= $facility->getName(); ?></span> bearbeiten</h1>
    </div>

    <form method="post" action="" enctype="multipart/form-data">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="details-tab" data-toggle="tab" href="#home" role="tab" aria-controls="details" aria-selected="true">Details</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="filters-tab" data-toggle="tab" href="#filters" role="tab" aria-controls="profile" aria-selected="false">Filteroptionen</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="openingtimes-tab" data-toggle="tab" href="#openingtimes" role="tab" aria-controls="profile" aria-selected="false">Öffnungszeiten</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane show active" id="home" role="tabpanel" aria-labelledby="details-tab">
                <div class="form-group row">
                    <label for="inputName" class="col-2 col-form-label">Name*</label>
                    <div class="col-10">
                        <input type="text" required="required" name="data[name]" value="<?= $facility->getName(); ?>" class="form-control" id="inputName" placeholder="Name der Einrichtung">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputStreet" class="col-2 col-form-label">Straße* / Nr.*</label>
                    <div class="col-9">
                        <input type="text" required="required" name="data[address][street]" value="<?= $facility->getAddress()->getStreet(); ?>" class="form-control" id="inputStreet" placeholder="Straße">
                    </div>
                    <div class="col-1">
                        <input type="text" required="required" name="data[address][streetnumber]" value="<?= $facility->getAddress()->getStreetnumber(); ?>" class="form-control" id="inputStreetnumber" placeholder="Hausnummer">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputZipcode" class="col-2 col-form-label">Postleitzahl* / Ort*</label>
                    <div class="col-3">
                        <input type="text" required="required" name="data[address][zipcode]" value="<?= $facility->getAddress()->getZipcode(); ?>" class="form-control" id="inputZipcode" placeholder="Postleitzahl">
                    </div>
                    <div class="col-7">
                        <input type="text" required="required" name="data[address][city]" value="<?= $facility->getAddress()->getCity(); ?>" class="form-control" id="inputCity" placeholder="Ort">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPhone" class="col-2 col-form-label">Telefon / Mobil / Fax</label>
                    <div class="col-3">
                        <input type="text" name="data[phone]" value="<?= $facility->getPhoneNumber(); ?>" class="form-control" id="inputPhone" placeholder="Telefonnummer">
                    </div>
                    <div class="col-3">
                        <input type="text" name="data[mobile]" value="<?= $facility->getMobileNumber(); ?>" class="form-control" id="inputMobile" placeholder="Mobilfunknummer">
                    </div>
                    <div class="col-4">
                        <input type="text" name="data[fax]" value="<?= $facility->getFaxNumber(); ?>" class="form-control" id="inputFax" placeholder="Faxnummer">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputWebsite" class="col-2 col-form-label">Webseite</label>
                    <div class="col-10">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">https://</div>
                            </div>
                            <input type="text" name="data[website]" value="<?= $facility->getWebsite(false); ?>" class="form-control" id="inputWebsite" placeholder="Webseite">
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputDescription" class="col-2 col-form-label">Beschreibung</label>
                    <div class="col-10">
                        <textarea cols="20" rows="15" name="data[description]" id="inputDescription" class="form-control"><?= $facility->getDescription(); ?></textarea>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="filters" role="tabpanel" aria-labelledby="filters-tab">
                <?php foreach ($tagGroups as $tagGroup) { ?>
                    <h5><?= $tagGroup->getName(); ?></h5>
                    <?php foreach ($tagGroup->getTags() as $tag) { ?>
                        <div class="form-check">
                            <input class="form-check-input" type="hidden" value="0" checked="checked" name="data[tags][<?= $tag->getId(); ?>]" />
                            <input class="form-check-input" type="checkbox" id="tag<?= $tag->getId(); ?>" value="1" <?php if ($facility->getTags()->contains($tag)) { ?>checked="checked"<?php } ?> name="data[tags][<?= $tag->getId(); ?>]" />
                            <label class="form-check-label" for="tag<?= $tag->getId(); ?>"><?= $tag->getName(); ?></label>
                        </div>
                    <?php } ?>
                    <br />
                <?php } ?>
            </div>
            <div class="tab-pane fade" id="openingtimes" role="tabpanel" aria-labelledby="openingtimes-tab">
                <?php
                    for($dayOfWeek = 1; $dayOfWeek <= 7; $dayOfWeek++) {
                        $dow = $dayOfWeek % 7;
                ?>
                <div class="form-group row">
                    <label for="inputMonday" class="col-4 col-form-label"><?= DayOfWeekHelper::getDayOfWeekString($dow); ?></label>
                    <div class="col-2">
                        <input type="text" name="data[ot][<?= $dow; ?>][<?= OpeningTimesCollection::PERIOD_AM; ?>][from]" class="form-control timepicker" value="<?= $facility->getOpeningTimes()->findByDayOfWeekAndPeriod($dow, OpeningTimesCollection::PERIOD_AM) ? $facility->getOpeningTimes()->findByDayOfWeekAndPeriod($dow, OpeningTimesCollection::PERIOD_AM)->getStartTime()->format('H:i') : ''; ?>" placeholder="von">
                    </div>
                    <div class="col-2">
                        <input type="text" name="data[ot][<?= $dow; ?>][<?= OpeningTimesCollection::PERIOD_AM; ?>][to]" class="form-control timepicker" value="<?= $facility->getOpeningTimes()->findByDayOfWeekAndPeriod($dow, OpeningTimesCollection::PERIOD_AM) ? $facility->getOpeningTimes()->findByDayOfWeekAndPeriod($dow, OpeningTimesCollection::PERIOD_AM)->getEndTime()->format('H:i') : ''; ?>" placeholder="bis">
                    </div>
                    <div class="col-2">
                        <input type="text" name="data[ot][<?= $dow; ?>][<?= OpeningTimesCollection::PERIOD_PM; ?>][from]" class="form-control timepicker" value="<?= $facility->getOpeningTimes()->findByDayOfWeekAndPeriod($dow, OpeningTimesCollection::PERIOD_PM) ? $facility->getOpeningTimes()->findByDayOfWeekAndPeriod($dow, OpeningTimesCollection::PERIOD_PM)->getStartTime()->format('H:i') : ''; ?>" placeholder="von">
                    </div>
                    <div class="col-2">
                        <input type="text" name="data[ot][<?= $dow; ?>][<?= OpeningTimesCollection::PERIOD_PM; ?>][to]" class="form-control timepicker" value="<?= $facility->getOpeningTimes()->findByDayOfWeekAndPeriod($dow, OpeningTimesCollection::PERIOD_PM) ? $facility->getOpeningTimes()->findByDayOfWeekAndPeriod($dow, OpeningTimesCollection::PERIOD_PM)->getEndTime()->format('H:i') : ''; ?>" placeholder="bis">
                    </div>
                </div>
                <?php } ?>
            </div>
        </div>
        <div>
            <input type="submit" value="Änderungen speichern" class="btn btn-primary" />
            <a href="<?= $this->url('administration'); ?>" class="btn btn-outline-danger">Abbrechen</a>
        </div>
    </form>

    <script type="text/javascript">
        tinymce.init({
            selector: '#inputDescription',
            statusbar: false,
            language: 'de',
            toolbar: 'undo redo styleselect bold italic alignleft aligncenter alignright bullist numlist outdent indent code',
        });
    </script>

    <?php
        $this->headScript()->captureStart();
        echo <<<JS
            $(document).ready(function(){
                $('#home-tab').tab('show');
                $('.timepicker').timepicker({
                    timeFormat: 'HH:mm',
                    interval: 15,
                    minTime: '0',
                    maxTime: '23:45',
                    startTime: '09:00',
                    dynamic: false,
                    dropdown: true,
                    scrollbar: true
                });
            });
        JS;
        $this->headScript()->captureEnd();
    ?>
</main>