<?php
    use Storage\Entity\Client;

    /** @var Client $client */
?>
<?= $this->doctype() ?>
<html lang="de">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <?= $this->headMeta()
        ->appendName('viewport', 'width=device-width, initial-scale=1.0, shrink-to-fit=no')
        ->appendName('author', 'Henrik Thesing')
        ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
    ?>
    <?= $this->headLink()
        ->prependStylesheet($this->basePath('css/all.css'))
        ->prependStylesheet($this->basePath('css/bootstrap.css'))
        ->prependStylesheet($this->basePath('css/ese.css'));
    ?>

    <?= $this->headScript()->appendFile($this->basePath('js/jquery.js')); ?>
    <?= $this->headScript()->appendFile($this->basePath('js/bootstrap.bundle.js')); ?>

    <?= $this->headTitle($client ? $client->getName() : '' . ' | Einrichtungssuche')->setSeparator(' - ')->setAutoEscape(false) ?>
</head>
    <body>
        <header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar">
            <a class="navbar-brand mr-0 mr-md-2" href="/" aria-label="Logo der Bahnhofsmission <?= $this->client ? $this->client->getName() : ''; ?>"><img height="50" src="<?= $this->basePath('img/logo.png'); ?>" /></a><p>
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" id="clientSelection" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <?= $client ? $client->getName() : ''; ?>
                </button>
                <div class="dropdown-menu" aria-labelledby="clientSelection">
                    <?php foreach ($this->clients as $clientListItem) { ?>
                    <a href="<?= $this->url('search', ['clientKey' => $clientListItem->getClientKey()]); ?>" class="btn dropdown-item" type="button"><?= $clientListItem->getName(); ?></a>
                    <?php } ?>
                </div>
            </div>
            <div class="navbar-nav ml-md-auto">
                <a class="btn btn-info" href="<?= $this->url('administration'); ?>">Administration</a>
            </div>
        </header>
        <?= $this->content; ?>
    </body>
</html>
